.whatsapp {
  display: block;
  width: fit-content;
  margin: 20px auto; /* centre automatiquement */

  background-color: #25D366;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;

  text-decoration: none;
  text-align: center;

  font-weight: 500;
  transition: all 0.3s ease;
}

/* Hover */
.whatsapp:hover {
  background-color: #1ebe5d;
  transform: translateY(-2px);
}
@media (max-width: 768px) {
  .whatsapp {
    width: 90%;
  }
}